/*
Flaticon icon font: Flaticon
Creation date: 11/09/2017 10:04
*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
    
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
    
.flaticon-xls:before { content: "\f100"; }
.flaticon-doc:before { content: "\f101"; }
.flaticon-pdf:before { content: "\f102"; }
.flaticon-tractor:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-magnifying-glass:before { content: "\f105"; }
.flaticon-letter-x:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-up-arrow:before { content: "\f108"; }
.flaticon-download-arrow:before { content: "\f109"; }
.flaticon-left-arrow:before { content: "\f10a"; }
.flaticon-right-arrow:before { content: "\f10b"; }
    
$font-Flaticon-xls: "\f100";
$font-Flaticon-doc: "\f101";
$font-Flaticon-pdf: "\f102";
$font-Flaticon-tractor: "\f103";
$font-Flaticon-commerce: "\f104";
$font-Flaticon-magnifying-glass: "\f105";
$font-Flaticon-letter-x: "\f106";
$font-Flaticon-placeholder: "\f107";
$font-Flaticon-up-arrow: "\f108";
$font-Flaticon-download-arrow: "\f109";
$font-Flaticon-left-arrow: "\f10a";
$font-Flaticon-right-arrow: "\f10b";