@import "flexboxgrid.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

main {
  overflow: hidden;
}

p {
  margin: 30px 0;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

.developer {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -.2px;
}
.dev-link {
  color: #000;
  transition: color 300ms ease-out;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #a63b4a;
  }
}

h1, .h1 {
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 3px;
}

h2, .h2 {
  font-size: 1.5em;
  margin: 20px 0;
}

.bold {
  font-weight: 900;
}
.light {
  font-weight: 100;
}

.background-gradient {
  background:         linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background: -webkit-linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background:    -moz-linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background:      -o-linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background:     -ms-linear-gradient(left, #a63b4a 0%, #483fcc 100%);
}

blockquote {
  font-style: italic;
  font-size: 24px;
  margin: 50px 0;
  display: block;
  background: -webkit-linear-gradient(#474e86, #a24d54);
  -webkit-background-clip: text;
  font-family: 'PT Serif', 'Calibri', sans-serif;
  -webkit-text-fill-color: transparent;
}

table {
  width: 100%;
  overflow-x: scroll;
  th {
    text-align: left;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
  }
  td {
    font-family: 'PT Mono', 'Calibri', sans-serif;
    padding: 10px 0;
  }
}

a {
  color: #a63b4a;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.h-100 {
  height: 100%;
}

.youtube-video {
  margin: 50px 0;
}

.ui-tabs .ui-tabs-panel {
  padding-top: 30px;
}

.button-gradient {
  color: #fff;
  padding: 12px 40px;
  text-decoration: none;
  display: inline-block;
  background:         linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background: -webkit-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background:    -moz-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background:      -o-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background:     -ms-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background-size: 200% auto;
  &:hover {
    -webkit-animation: shine 2s linear infinite;
    -moz-animation: shine 2s linear infinite;
    animation: shine 2s linear infinite;
  }
}
@keyframes shine {
  to {
    background-position: -200% center; 
  } 
}
@-webkit-keyframes shine {
  to {
    background-position: -200% center; 
  } 
}
@-moz-keyframes shine {
  to {
    background-position: -200% center; 
  } 
}

#map {
  height: 400px;
}

.footer {
  padding: 50px 0;
  margin: 50px 0 0;
}

.show-more-link {
  text-transform: uppercase;
  color: #a63b4a;
  font-size: 16px;
  display: block;
  width: auto;
  margin: 40px auto;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  top: 1px;
  letter-spacing: 0.5px;
  &.light {
    color: #fff;
  }
  &:after {
    display: inline-block;
    @extend .fi:before;
    @extend .flaticon-right-arrow:before;
    position: relative;
    left: 25px;
    transition: all 300ms ease-out;
  }
  &:hover {
    &:after {
      left: 30px;
    }
  }
}

.header {
  padding: 50px 0;
  margin-bottom: 90px;
  &__logo {
    display: block;
    position: relative;
    &:active {
      top: 1px;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.main-menu {
  font-size: 16px;
  &__list {
    list-style: none;
    padding: 10px 20px;
    display: flex;
    @extend .between-xs;
  }
  &__item {
    display: block;
  }
  &__link {
    color: #4562f4;
    text-decoration: none;
    display: block;
    transition: color 300ms ease-out;
    position: relative;
    &:hover, &.active {
      &:before, &:after {
        width: 100%;
      }
    }
    &:before {
      content: attr(data-title);
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 300ms ease-out;
      color: #a63b4a;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 10%;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 300ms ease-out;
      border-bottom: 1px solid #a63b4a;
    }
  }
}

.search-button {
  text-align: right;
  display: block;
  text-decoration: none;
  color: #838383;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  transition: transform 300ms ease-out, color 300ms ease-out;
  span {
    display: none;
  }
  &:hover {
    transform: scale(1.05);
    color: #000;
  }
  &:active {
    top: 1px;
  }
  &:after {
    display: inline-block;
    vertical-align: middle;
    @extend .flaticon-magnifying-glass:before;
    @extend .fi:before;
    font-size: 18px;
    padding: 0 0 0 10px;
  }
}

.main-banner {
  padding: 50px 0 70px;
  &__image {
    padding-bottom: 150px;
    img {
      width: 100%;
    }
  }
  &__header {
    margin: 20px 0 15px;
    letter-spacing: 0px;
    font-weight: 500;
  }
  &__text {
    line-height: 1.6;
  }
  &__subheader-link {
    display: block;
    color: #3b3b3b;
    text-decoration: underline;
    transition: color 300ms ease-out;
    margin: 5px 0;
    position: relative;
    &:before {
      display: inline-block;
      content: '';
      font-size: 26px;
      padding-right: 5px;
    }
    &.shops-link:before {
      @extend .flaticon-commerce:before;
      @extend .fi:before;
    }
    &.factories-link:before {
      @extend .flaticon-tractor:before;
      @extend .fi:before;
    }
    &:hover {
      color: #a63b4a;
      text-decoration: underline;
    }
  }
}

.stages {
  // For jQueryUI tabs plugin
  .ui-tabs .ui-tabs-nav li {
    float: none;
  }
  .ui-tabs-active {
    background-image: url(../images/stages-type-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .stages__tabs__item {
    margin: 2px 5px;
  }
  // 
  overflow: hidden;
  @extend .background-gradient;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 95px 0 150px;
  &__tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    &__item {
      display: inline-block;
      float: none!important;
    }
  }
  &__header {
    font-weight: 900;
    color: #fff;
    margin: 5px 0;
    letter-spacing: 3px;
  }
  &__type {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 19px 10px 5px 5px!important;
    outline: none;
    text-decoration: underline!important;
    letter-spacing: 1.5px;
  }
  &__content {
    color: #fff;
    text-align: left;
    padding: 50px 0 0;
    &__header {
      font-size: 24px;
      margin: 15px 0;
    }
    &__text {
      margin: 15px 0;
    }
    &__image {
      width: 100%;
      img {
        max-width: 55%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.clients {
  margin: 120px 0 130px;
  &__header {
    margin: 5px 0;
  }
  &__item {
    margin: 40px 0 0px;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    &__image {
      height: 80px;
      margin-bottom: 15px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__header {
      font-weight: 900;
      font-size: 16px;
      margin: 15px 0;
      cursor: pointer;
      :hover > & {
        color: #a63b4a;
        text-decoration: underline;
      }
    }
    &__text {
      margin: 0;
    }
  }
}

.about-us {
  &__header {
    margin: 5px 0;
  }
  &__location {
    margin-top: 30px;
    font-size: 19px;
    font-weight: 900;
    &:before {
      @extend .fi:before;
      @extend .flaticon-placeholder:before;
      padding-right: 10px;
      display: inline-block;
      font-weight: 900;
    }
  }
}

.questions {
  @extend .background-gradient;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 100px 0 130px;
  margin: 100px 0;
  color: #fff;
  &__header {
    font-weight: 100;
    margin: 5px 0;
    letter-spacing: 1.5px;
  }
  &__text {
    letter-spacing: 0.2px;
    padding-right: 80px;
    line-height: 1.6;
  }
  &__contacts {
    padding-left: 50px;
  }
}

.news {
  margin: 150px 0 100px;
  &__header {
    font-weight: 100;
    margin: 20px 0;
  }
  &__item {
    margin: 40px 0;
    line-height: 1.5;
    &--main {
      margin: 50px 0;
      .news__item__link {
        font-size: 24px;
      }
    }
    &__text {
      margin: 5px 0;
      p {
        margin: 5px 0;
      }
    }
    &__link {
      font-weight: 900;
      font-size: 18px;
      color: #a63b4a;
      transition: color 300ms ease-out;
      text-decoration: none;
      margin: 5px 0;
      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.slick-slide {
  outline: none;
  height: 100%;
  position: relative;
  img {
    width: 100%;
  }
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
.slick-dots {
  li {
    border: 2px solid #a63b4a;
    padding: 1px;
    border-radius: 50%;
    vertical-align: bottom;
    button {
      &:before {
        display: none;
      }
    }
    &.slick-active {
      button {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        background: #a63b4a;
        border-radius: 50%;
        width: 3px; 
        height: 3px;
      }
    }
  }
}

.object {
  width: 100%;
  overflow: hidden;
  &__content {
    font-size: 18px;
  }
  &__gallery-slider {
    &__text {
      color: #8a8a8a;
      padding: 8px 0;
    }
  }
  &__achievment-item {
    position: relative;
    display: block;
    height: 64px;
    margin: 10px auto;
    text-align: center;
    max-width: 200px;
    div {
      position: relative;
      display: block;
      color: #8a8a8a;
      font-style: italic;
      top: 50%;
      transform: translate(0, -50%);
      font-family: 'PT Serif', 'Calibri', sans-serif;
      font-size: 18px;
    }
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 55px;
      height: 64px;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    &:before {
      background-image: url(../images/left-lavr.png);
    }
    &:after {
      left: auto;
      right: 0;
      background-image: url(../images/right-lavr.png);
    }
  }
  &__text-gradient {
    font-size: 24px;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-style: italic;
    font-size: 24px;
    background: -webkit-linear-gradient(#474e86, #a24d54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  &__banner-image {
    margin-bottom: 70px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }
  &__gallery {
    margin: 50px 0 30px;
  }
  &__similar {
    margin-top: 100px;
    &__header {
      font-weight: 900;
      font-size: 24px;
    }
    &__item {
      max-width: 100%;
      width: auto;
      display: block;
      color: #fff;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      &__image {
        height: 260px;
        overflow: hidden;
        img {
          min-height: 100%;
          width: 100%;
        }
      }
      &:active {
        top: 1px;
      }
      &__header {
        font-size: 20px;
        font-weight: 900;
        margin: 0 0 10px;
      }
      &__text {
        margin: 0
      }
      &__content {
        &__container {
          position: relative;
          z-index: 2;
        }
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          content: '';
          background:         linear-gradient(left, rgba(71, 78, 134, 40%), rgba(162, 77, 84, 40%));
          background: -webkit-linear-gradient(left, rgba(71, 78, 134, 40%), rgba(162, 77, 84, 40%));
          background:    -moz-linear-gradient(left, rgba(71, 78, 134, 40%), rgba(162, 77, 84, 40%));
          background:      -o-linear-gradient(left, rgba(71, 78, 134, 40%), rgba(162, 77, 84, 40%));
          background:     -ms-linear-gradient(left, rgba(71, 78, 134, 40%), rgba(162, 77, 84, 40%));
        }
        padding: 30px;
        opacity: 0;
        transition: opacity 300ms ease-out;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        :hover > & {
          opacity: 1;
        }
      }
    }
  }
}

.services-links-wrapper {
  margin: 70px 0;
}
.service-animated {
  margin: 40px 0;
}
.services {
  &__menu {
    margin: 20px 0;
      &__list {
        padding: 0;
        list-style: none;
        @extend .start-xs;
    }
    &__item {
      display: block;
    }
    &__link {
      display: block;
      color: #3b3b3b;
      font-weight: 100;
      position: relative;
      padding: 5px 50px 5px 0;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      &:hover {
        color: #a63b4a;
        text-decoration: underline;
      }
      &:active {
        top: 1px;
      }
      &.active {
        color: #a63b4a;
      }
    }
  }
}

.files {
  margin: 50px 0;
  &__header {
    font-size: 24px!important;
    font-weight: bold;
  }
  &__item {
    display: block;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    padding-left: 60px;
    &:before {
      display: block;
      @extend .fi:before;
      position: absolute;
      left: 0;
      top: 20px;
      font-size: 50px;
    }
    &.pdf:before {
      @extend .flaticon-pdf:before;
      color: #a63b4a;
    }
    &.doc:before {
      @extend .flaticon-doc:before;
      color: #5d69ad;
    }
    &.xls:before {
      @extend .flaticon-xls:before;
      color: #5dad5d;
    }
    &__name {
      color: #a63b4a;
      margin: 5px 0;
      :hover > & {
        text-decoration: underline;
      }
    }
    &__size {
      color: #767676;
      font-size: 14px;
      margin: 5px 0;
    }
  }
}

.contacts {
  &__content {
    margin: 20px 0;
  }
  &__subheader {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  &__email {
    font-size: 22px;
    letter-spacing: 2px;
    margin: 5px 0;
  }
  &__phone {
    padding: 5px 0;
    font-size: 26px;
    text-decoration: none;
    color: #000;
  }
  &__address {
    font-size: 22px;
    letter-spacing: 2px;
  }
  &__row {
    margin: 30px 0 30px;
  }
  &__bottom-image {
    margin-top: 60px;
    height: 480px;
    background-image: url(../images/contacts.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.error-404 {
  padding: 40px 0 0;
  &__image {
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 20px auto;
    }
  }
  &__header {
    margin: 30px 0;
    font-weight: 500;
    letter-spacing: 5px;
  }
  &__subheader {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    letter-spacing: -0.2px;
  }
}

.equipment-list {
  margin: 30px 0;
  &__content {
    padding-bottom: 100px;
  }
  &__section-header {
    margin-top: 20px;
  }
  &__section-subheader {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  &__section-list {
    display: block;
    padding: 0;
    list-style: none;
    margin-bottom: 50px
  }
  &__section-item {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 40px;
    border-radius: 3px;
    &:hover {
      background-color: #f0dee0;
    }
  }
  &__dropdown-list {
    background-color: #fff;
    position: absolute;
    list-style: none;
    display: none;
    padding: 0;
    left: 40%;
    top: 70%;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    :hover > & {
      display: block;
    }
  }
  &__dropdown-item {
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid #8a8a8a;
    }
    &:first-child {
      & > .equipment-list__dropdown-link {
        border-radius: 8px 8px 0 0;
      }
    }
    &:last-child {
      & > .equipment-list__dropdown-link {
        border-radius: 0 0 8px 8px;
      }
    }
  }
  &__dropdown-link {
    display: block;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    white-space: nowrap;
    &:hover {
      color: #fff;
      background-color: #a63b4a;
    }
  }
  &__section-link {
    display: block;
    cursor: pointer;
    padding: 2px 0;
    margin: 5px 10px 5px 0;
    overflow-x: hidden;
  }
}

.equipment {
  &__block {
    margin: 20px 0 80px;
    &__content {
      padding-left: 20px;
    }
  }
  &__slider {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:before {
      display: block;
      content: '';
      padding-top: 62%;
    }
  }
}

.params {
  margin-bottom: 50px;
  min-height: 300px;
  &__tab {
    padding-left: 0!important;
    font-family: 'PT Mono', 'Calibri', sans-serif;
  }
  &__photo {
    overflow: hidden;
    margin: 10px 0;
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__menu {
    &__item {
      display: block;
      float: none!important;
      text-align: center;
    }
    &__link {
      outline: none;
      padding-right: 50px!important;
      padding-left: 0!important;
      color: #000;
      text-decoration: underline!important;
      display: block;
      float: none!important;
      &:hover {
        color: #a63b4a;
      }
      .ui-tabs-active > & {
        color: #a63b4a;
        text-decoration: none!important;
      }
    }
  }
}

.articles {
  overflow: hidden;
  font-size: 18px;
  &__contact-us {
    color: #fff;
    margin: 80px 0 120px;
    padding: 80px 0;
    @extend .background-gradient;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &__header {
    font-size: 28px;
    margin: 30px 0 50px;
  }
  &__downloads {
    margin: 50px 0;
  }
  &__slider {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px!important;
    &__wrapper {
      overflow: hidden;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  &__similar {
    margin: 80px 0 100px;
    max-width: 100%;
    &__header {
      text-transform: uppercase;
    }
  }
  &__similar-item {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: none;
    }
    &__header {
      font-weight: 900;
      font-size: 18px;
      margin: 20px 0;
      :hover > & {
        text-decoration: underline;
        color: #a63b4a;
      }
    }
    &__text {
      font-size: 14px;
    }
    &__image {
      margin-bottom: 10px;
      max-width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &__item {
    display: block;
    text-decoration: none;
    margin: 60px 0;
    &:hover {
      text-decoration: none;
    }
    &__image {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__header {
      color: #000;
      font-size: 20px;
      font-weight: 900;
      margin: 20px 0;
      :hover > & {
        text-decoration: underline;
        color: #a63b4a;
      }
    }
    &__description {
      color: #000;
      text-decoration: none;
    }
    &--big {
      .articles__item__image {
        height: 500px;
        img {
          width: auto;
        }
      }
      .articles__item__header {
        font-size: 24px;
      }
    }
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: #F4F4F5;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-panel {
  padding-left: 30px;
}

.mobile-menu-column {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #F4F4F5;
  padding: 20px 0;
  z-index: 100;
  border-left: 1px solid #999;
}
.menu-btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
}
.icon-burger {
  width: 20px;
  height: 20px;
  background-image: url(../images/burger.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.mobile-logo {
  display: block;
  img {
    display: block;
    margin: 20px auto;
  }
}
.mobile-menu {
  width: 100%;
  list-style: none;
  padding: 0;
  &__item {
    width: 100%;
  }
  &__link {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    transition: background 300ms ease-out;
    &.active {
      background-color: #aaa;
      text-decoration: underline;
    }
    &:hover {
      background-color: #aaa;
    }
  }
}

.about-us {
  &__banner {
    height: 860px;
    margin: 0 0 40px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: url(../images/about-us-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 60px;
    line-height: 1.6;
    &__header {
      font-size: 34px;
      font-weight: 900;
      letter-spacing: 2.5px;
    }
  }
  &__mission {
    &__header {
      font-size: 35px;
      font-weight: 900;
      margin: 30px 0;
      letter-spacing: 2px;
    }
  }
  &__directions {
    margin: 50px 0 0;
    &__header {
      font-size: 26px;
      font-weight: 100;
    }
    &__content {
      @extend .background-gradient;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin: 10px 0;
      padding: 20px 30px;
      color: #fff;
      p {
        margin: 15px 0;
      }
    }
  }
}

.search-page {
  margin-bottom: 100px;
  &__result {
    padding: 40px 0;
    display: block;
    color: #000;
    text-decoration: none;
    &:hover {
      .search-page__result__name {
        text-decoration: underline;
      }
    }
    &__name {
      font-weight: 900;
      font-size: 24px;
      text-align: center;
    }
    &__description {
      text-align: center;
      font-size: 14px;
      text-decoration: underline;
    }
  }
  &__form {
    margin: 35px 0;
    &__input {
      position: relative;
      &:before {
        @extend .fi:before;
        @extend .flaticon-magnifying-glass:before;
        display: inline-block;
        left: 15px;
        top: 10px;
        position: absolute;
      }
      input {
        box-sizing: border-box;
        width: 100%;
        color: #000;
        padding: 10px 10px 10px 50px;
        background: #fff;
        border: 2px solid #a63b4a;
        font-family: 'PT Serif', 'Calibri', sans-serif;
      }
    }
  }
}

.headquoter {
  &__header {
    font-weight: 900;
    margin: 70px 0 70px;
  }
  &__item {
    &__image {
      overflow: hidden;
      max-height: 350px;
      img {
        display: block;
        max-height: 100%;
        max-width: 100%;
      }
    }
    &__name {
      font-weight: 900;
      margin: 20px 0 10px;
    }
    &__position {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: $sm) {

}

@media only screen and (min-width: $md) {
  .clients {
    &__item {
      padding-right: 15px;
    }
  }
  .stages {
    &__content {
      &__image {
        padding-top: 100px;
      }
    }
  }
  .search-page {
    &__result {
      margin: 0px 0;
      display: block;
      &__name {
        text-align: left;
      }
      &__description {
        text-align: left;
        line-height: 1.5;
      }
    }
  }
  h1, .h1 {
    font-size: 50px;
  }
  h2, .h2 {
    font-size: 36px;
    letter-spacing: 0;
  }
  h3, .h3 {
    font-size: 18px;
  }
  .header {
    &__logo {
      img {
        margin: 0;
      }
    }
  }
  .error-404 {
    padding-bottom: 100px;
  }
  .params {
    &__menu {
      &__item {
        text-align: left;
        float: left!important;
      }
    }
  }
  .mobile-menu-column {
    display: none;
  }
  .slideout-panel {
    padding-left: 0px;
  }
  .about-us {
    &__directions {
      &__content {
        padding: 30px 95px 20px;
      }
    }
  }
  .services {
    &__menu {
      &__list {
        display: flex;
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .search-button span {
    display: inline;
  }
  .main-menu {
    font-size: 18px;
  }
  .equipment-list {
    &__section-header {
      padding-right: 100px;
    }
  }
}
