/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 * :root {
 *  --gutter-width: 1rem;
 *  --outer-margin: 2rem;
 *  --gutter-compensation: calc( var( --gutter-width / 2 ) * -1 );
 *  --half-gutter-width: calc( var( --gutter-width / 2 ) );
 *  --screen-xs-min: 30em;
 *  --screen-sm-min: 48em;
 *  --screen-md-min: 62em;
 *  --screen-lg-min: 75em;
 *  --container-sm: calc( 45rem + var( --gutter-width ) );
 *  --container-md: calc( 60rem + var( --gutter-width ) );
 *  --container-lg: calc( 70rem + var( --gutter-width ) );
 * }
 *
*/
.hidden {
  display: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  width: 320px; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.333%; }

.col-xs-offset-2 {
  margin-left: 16.667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.333%; }

.col-xs-offset-5 {
  margin-left: 41.667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.333%; }

.col-xs-offset-8 {
  margin-left: 66.667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.333%; }

.col-xs-offset-11 {
  margin-left: 91.667%; }

.start-xs, .services__menu__list {
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  align-items: flex-end; }

.around-xs {
  justify-content: space-around; }

.between-xs, .main-menu__list {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media only screen and (min-width: 500px) {
  .container {
    width: 90%;
    max-width: 760px; }
  .visible-sm {
    display: block; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-sm-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.333%; }
  .col-sm-offset-2 {
    margin-left: 16.667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.333%; }
  .col-sm-offset-5 {
    margin-left: 41.667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.333%; }
  .col-sm-offset-8 {
    margin-left: 66.667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.333%; }
  .col-sm-offset-11 {
    margin-left: 91.667%; }
  .start-sm {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-sm {
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 800px) {
  .container {
    width: 90%;
    max-width: 1045px; }
  .visible-md {
    display: block; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.333%; }
  .col-md-offset-2 {
    margin-left: 16.667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.333%; }
  .col-md-offset-5 {
    margin-left: 41.667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.333%; }
  .col-md-offset-8 {
    margin-left: 66.667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.333%; }
  .col-md-offset-11 {
    margin-left: 91.667%; }
  .start-md {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-md {
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 1100px) {
  .container {
    width: 95%;
    max-width: 1300px; }
  .visible-lg {
    display: block; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.333%; }
  .col-lg-offset-2 {
    margin-left: 16.667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.333%; }
  .col-lg-offset-5 {
    margin-left: 41.667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.333%; }
  .col-lg-offset-8 {
    margin-left: 66.667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.333%; }
  .col-lg-offset-11 {
    margin-left: 91.667%; }
  .start-lg {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-lg {
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    order: 1; } }

/*
Flaticon icon font: Flaticon
Creation date: 11/09/2017 10:04
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before, .show-more-link:after, .search-button:after, .main-banner__subheader-link.shops-link:before, .main-banner__subheader-link.factories-link:before, .about-us__location:before, .files__item:before, .search-page__form__input:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-xls:before, .files__item.xls:before {
  content: "\f100"; }

.flaticon-doc:before, .files__item.doc:before {
  content: "\f101"; }

.flaticon-pdf:before, .files__item.pdf:before {
  content: "\f102"; }

.flaticon-tractor:before, .main-banner__subheader-link.factories-link:before {
  content: "\f103"; }

.flaticon-commerce:before, .main-banner__subheader-link.shops-link:before {
  content: "\f104"; }

.flaticon-magnifying-glass:before, .search-button:after, .search-page__form__input:before {
  content: "\f105"; }

.flaticon-letter-x:before {
  content: "\f106"; }

.flaticon-placeholder:before, .about-us__location:before {
  content: "\f107"; }

.flaticon-up-arrow:before {
  content: "\f108"; }

.flaticon-download-arrow:before {
  content: "\f109"; }

.flaticon-left-arrow:before {
  content: "\f10a"; }

.flaticon-right-arrow:before, .show-more-link:after {
  content: "\f10b"; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans';
  font-size: 16px; }

main {
  overflow: hidden; }

p {
  margin: 30px 0; }

figure {
  margin: 0;
  padding: 0;
  display: block; }

.developer {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -.2px; }

.dev-link {
  color: #000;
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
  text-decoration: none; }
  .dev-link:hover {
    text-decoration: underline;
    color: #a63b4a; }

h1, .h1 {
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 3px; }

h2, .h2 {
  font-size: 1.5em;
  margin: 20px 0; }

.bold {
  font-weight: 900; }

.light {
  font-weight: 100; }

.background-gradient, .stages, .questions, .articles__contact-us, .about-us__directions__content {
  background: linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background: -webkit-linear-gradient(left, #a63b4a 0%, #483fcc 100%);
  background: -ms-linear-gradient(left, #a63b4a 0%, #483fcc 100%); }

blockquote {
  font-style: italic;
  font-size: 24px;
  margin: 50px 0;
  display: block;
  background: -webkit-linear-gradient(#474e86, #a24d54);
  -webkit-background-clip: text;
  font-family: 'PT Serif', 'Calibri', sans-serif;
  -webkit-text-fill-color: transparent; }

table {
  width: 100%;
  overflow-x: scroll; }
  table th {
    text-align: left;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif; }
  table td {
    font-family: 'PT Mono', 'Calibri', sans-serif;
    padding: 10px 0; }

a {
  color: #a63b4a;
  text-decoration: underline;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

.ta-left {
  text-align: left; }

.ta-center {
  text-align: center; }

.p-0 {
  padding: 0; }

.m-0 {
  margin: 0; }

.h-100 {
  height: 100%; }

.youtube-video {
  margin: 50px 0; }

.ui-tabs .ui-tabs-panel {
  padding-top: 30px; }

.button-gradient {
  color: #fff;
  padding: 12px 40px;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background: -webkit-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background: -ms-linear-gradient(left, #a63b4a 0%, #483fcc 35%, #a63b4a 100%);
  background-size: 200% auto; }
  .button-gradient:hover {
    -webkit-animation: shine 2s linear infinite;
    animation: shine 2s linear infinite; }

@keyframes shine {
  to {
    background-position: -200% center; } }

@-webkit-keyframes shine {
  to {
    background-position: -200% center; } }

#map {
  height: 400px; }

.footer {
  padding: 50px 0;
  margin: 50px 0 0; }

.show-more-link {
  text-transform: uppercase;
  color: #a63b4a;
  font-size: 16px;
  display: block;
  width: auto;
  margin: 40px auto;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  top: 1px;
  letter-spacing: 0.5px; }
  .show-more-link.light {
    color: #fff; }
  .show-more-link:after {
    display: inline-block;
    position: relative;
    left: 25px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
  .show-more-link:hover:after {
    left: 30px; }

.header {
  padding: 50px 0;
  margin-bottom: 90px; }
  .header__logo {
    display: block;
    position: relative; }
    .header__logo:active {
      top: 1px; }
    .header__logo img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }

.main-menu {
  font-size: 16px; }
  .main-menu__list {
    list-style: none;
    padding: 10px 20px;
    display: -webkit-box;
    display: flex; }
  .main-menu__item {
    display: block; }
  .main-menu__link {
    color: #4562f4;
    text-decoration: none;
    display: block;
    -webkit-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
    position: relative; }
    .main-menu__link:hover:before, .main-menu__link:hover:after, .main-menu__link.active:before, .main-menu__link.active:after {
      width: 100%; }
    .main-menu__link:before {
      content: attr(data-title);
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 0;
      overflow: hidden;
      -webkit-transition: width 300ms ease-out;
      transition: width 300ms ease-out;
      color: #a63b4a; }
    .main-menu__link:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 10%;
      height: 100%;
      width: 0;
      overflow: hidden;
      -webkit-transition: width 300ms ease-out;
      transition: width 300ms ease-out;
      border-bottom: 1px solid #a63b4a; }

.search-button {
  text-align: right;
  display: block;
  text-decoration: none;
  color: #838383;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  -webkit-transition: color 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: color 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out, color 300ms ease-out;
  transition: transform 300ms ease-out, color 300ms ease-out, -webkit-transform 300ms ease-out; }
  .search-button span {
    display: none; }
  .search-button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: #000; }
  .search-button:active {
    top: 1px; }
  .search-button:after {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 0 0 10px; }

.main-banner {
  padding: 50px 0 70px; }
  .main-banner__image {
    padding-bottom: 150px; }
    .main-banner__image img {
      width: 100%; }
  .main-banner__header {
    margin: 20px 0 15px;
    letter-spacing: 0px;
    font-weight: 500; }
  .main-banner__text {
    line-height: 1.6; }
  .main-banner__subheader-link {
    display: block;
    color: #3b3b3b;
    text-decoration: underline;
    -webkit-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
    margin: 5px 0;
    position: relative; }
    .main-banner__subheader-link:before {
      display: inline-block;
      content: '';
      font-size: 26px;
      padding-right: 5px; }
    .main-banner__subheader-link:hover {
      color: #a63b4a;
      text-decoration: underline; }

.stages {
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 95px 0 150px; }
  .stages .ui-tabs .ui-tabs-nav li {
    float: none; }
  .stages .ui-tabs-active {
    background-image: url(../images/stages-type-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .stages .stages__tabs__item {
    margin: 2px 5px; }
  .stages__tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    .stages__tabs__item {
      display: inline-block;
      float: none !important; }
  .stages__header {
    font-weight: 900;
    color: #fff;
    margin: 5px 0;
    letter-spacing: 3px; }
  .stages__type {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 19px 10px 5px 5px !important;
    outline: none;
    text-decoration: underline !important;
    letter-spacing: 1.5px; }
  .stages__content {
    color: #fff;
    text-align: left;
    padding: 50px 0 0; }
    .stages__content__header {
      font-size: 24px;
      margin: 15px 0; }
    .stages__content__text {
      margin: 15px 0; }
    .stages__content__image {
      width: 100%; }
      .stages__content__image img {
        max-width: 55%;
        display: block;
        margin: 0 auto; }

.clients {
  margin: 120px 0 130px; }
  .clients__header {
    margin: 5px 0; }
  .clients__item {
    margin: 40px 0 0px;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000; }
    .clients__item__image {
      height: 80px;
      margin-bottom: 15px; }
      .clients__item__image img {
        display: block;
        max-width: 100%;
        max-height: 100%; }
    .clients__item__header {
      font-weight: 900;
      font-size: 16px;
      margin: 15px 0;
      cursor: pointer; }
      :hover > .clients__item__header {
        color: #a63b4a;
        text-decoration: underline; }
    .clients__item__text {
      margin: 0; }

.about-us__header {
  margin: 5px 0; }

.about-us__location {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 900; }
  .about-us__location:before {
    padding-right: 10px;
    display: inline-block;
    font-weight: 900; }

.questions {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 100px 0 130px;
  margin: 100px 0;
  color: #fff; }
  .questions__header {
    font-weight: 100;
    margin: 5px 0;
    letter-spacing: 1.5px; }
  .questions__text {
    letter-spacing: 0.2px;
    padding-right: 80px;
    line-height: 1.6; }
  .questions__contacts {
    padding-left: 50px; }

.news {
  margin: 150px 0 100px; }
  .news__header {
    font-weight: 100;
    margin: 20px 0; }
  .news__item {
    margin: 40px 0;
    line-height: 1.5; }
    .news__item--main {
      margin: 50px 0; }
      .news__item--main .news__item__link {
        font-size: 24px; }
    .news__item__text {
      margin: 5px 0; }
      .news__item__text p {
        margin: 5px 0; }
    .news__item__link {
      font-weight: 900;
      font-size: 18px;
      color: #a63b4a;
      -webkit-transition: color 300ms ease-out;
      transition: color 300ms ease-out;
      text-decoration: none;
      margin: 5px 0; }
      .news__item__link:hover {
        color: #000;
        text-decoration: underline; }

.slick-slide {
  outline: none;
  height: 100%;
  position: relative; }
  .slick-slide img {
    width: 100%; }

.slick-list {
  height: 100%; }

.slick-track {
  height: 100%; }

.slick-dots li {
  border: 2px solid #a63b4a;
  padding: 1px;
  border-radius: 50%;
  vertical-align: bottom; }
  .slick-dots li button:before {
    display: none; }
  .slick-dots li.slick-active button {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    background: #a63b4a;
    border-radius: 50%;
    width: 3px;
    height: 3px; }

.object {
  width: 100%;
  overflow: hidden; }
  .object__content {
    font-size: 18px; }
  .object__gallery-slider__text {
    color: #8a8a8a;
    padding: 8px 0; }
  .object__achievment-item {
    position: relative;
    display: block;
    height: 64px;
    margin: 10px auto;
    text-align: center;
    max-width: 200px; }
    .object__achievment-item div {
      position: relative;
      display: block;
      color: #8a8a8a;
      font-style: italic;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      font-family: 'PT Serif', 'Calibri', sans-serif;
      font-size: 18px; }
    .object__achievment-item:before, .object__achievment-item:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 55px;
      height: 64px;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
    .object__achievment-item:before {
      background-image: url(../images/left-lavr.png); }
    .object__achievment-item:after {
      left: auto;
      right: 0;
      background-image: url(../images/right-lavr.png); }
  .object__text-gradient {
    font-size: 24px;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-style: italic;
    font-size: 24px;
    background: -webkit-linear-gradient(#474e86, #a24d54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; }
  .object__banner-image {
    margin-bottom: 70px;
    width: 100%;
    overflow: hidden; }
    .object__banner-image img {
      width: 100%;
      display: block; }
  .object__gallery {
    margin: 50px 0 30px; }
  .object__similar {
    margin-top: 100px; }
    .object__similar__header {
      font-weight: 900;
      font-size: 24px; }
    .object__similar__item {
      max-width: 100%;
      width: auto;
      display: block;
      color: #fff;
      text-decoration: none;
      position: relative;
      overflow: hidden; }
      .object__similar__item__image {
        height: 260px;
        overflow: hidden; }
        .object__similar__item__image img {
          min-height: 100%;
          width: 100%; }
      .object__similar__item:active {
        top: 1px; }
      .object__similar__item__header {
        font-size: 20px;
        font-weight: 900;
        margin: 0 0 10px; }
      .object__similar__item__text {
        margin: 0; }
      .object__similar__item__content {
        padding: 30px;
        opacity: 0;
        -webkit-transition: opacity 300ms ease-out;
        transition: opacity 300ms ease-out;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10; }
        .object__similar__item__content__container {
          position: relative;
          z-index: 2; }
        .object__similar__item__content:before {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          content: '';
          background: linear-gradient(left, #474e86, #a24d54);
          background: -webkit-linear-gradient(left, #474e86, #a24d54);
          background: -ms-linear-gradient(left, #474e86, #a24d54); }
        :hover > .object__similar__item__content {
          opacity: 1; }

.services-links-wrapper {
  margin: 70px 0; }

.service-animated {
  margin: 40px 0; }

.services__menu {
  margin: 20px 0; }
  .services__menu__list {
    padding: 0;
    list-style: none; }
  .services__menu__item {
    display: block; }
  .services__menu__link {
    display: block;
    color: #3b3b3b;
    font-weight: 100;
    position: relative;
    padding: 5px 50px 5px 0;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px; }
    .services__menu__link:hover {
      color: #a63b4a;
      text-decoration: underline; }
    .services__menu__link:active {
      top: 1px; }
    .services__menu__link.active {
      color: #a63b4a; }

.files {
  margin: 50px 0; }
  .files__header {
    font-size: 24px !important;
    font-weight: bold; }
  .files__item {
    display: block;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    padding-left: 60px; }
    .files__item:before {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      font-size: 50px; }
    .files__item.pdf:before {
      color: #a63b4a; }
    .files__item.doc:before {
      color: #5d69ad; }
    .files__item.xls:before {
      color: #5dad5d; }
    .files__item__name {
      color: #a63b4a;
      margin: 5px 0; }
      :hover > .files__item__name {
        text-decoration: underline; }
    .files__item__size {
      color: #767676;
      font-size: 14px;
      margin: 5px 0; }

.contacts__content {
  margin: 20px 0; }

.contacts__subheader {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px; }

.contacts__email {
  font-size: 22px;
  letter-spacing: 2px;
  margin: 5px 0; }

.contacts__phone {
  padding: 5px 0;
  font-size: 26px;
  text-decoration: none;
  color: #000; }

.contacts__address {
  font-size: 22px;
  letter-spacing: 2px; }

.contacts__row {
  margin: 30px 0 30px; }

.contacts__bottom-image {
  margin-top: 60px;
  height: 480px;
  background-image: url(../images/contacts.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.error-404 {
  padding: 40px 0 0; }
  .error-404__image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 20px auto; }
  .error-404__header {
    margin: 30px 0;
    font-weight: 500;
    letter-spacing: 5px; }
  .error-404__subheader {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    letter-spacing: -0.2px; }

.equipment-list {
  margin: 30px 0; }
  .equipment-list__content {
    padding-bottom: 100px; }
  .equipment-list__section-header {
    margin-top: 20px; }
  .equipment-list__section-subheader {
    padding-left: 20px;
    margin-bottom: 15px; }
  .equipment-list__section-list {
    display: block;
    padding: 0;
    list-style: none;
    margin-bottom: 50px; }
  .equipment-list__section-item {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 40px;
    border-radius: 3px; }
    .equipment-list__section-item:hover {
      background-color: #f0dee0; }
  .equipment-list__dropdown-list {
    background-color: #fff;
    position: absolute;
    list-style: none;
    display: none;
    padding: 0;
    left: 40%;
    top: 70%;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    :hover > .equipment-list__dropdown-list {
      display: block; }
  .equipment-list__dropdown-item {
    position: relative; }
    .equipment-list__dropdown-item:not(:last-child) {
      border-bottom: 1px solid #8a8a8a; }
    .equipment-list__dropdown-item:first-child > .equipment-list__dropdown-link {
      border-radius: 8px 8px 0 0; }
    .equipment-list__dropdown-item:last-child > .equipment-list__dropdown-link {
      border-radius: 0 0 8px 8px; }
  .equipment-list__dropdown-link {
    display: block;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    white-space: nowrap; }
    .equipment-list__dropdown-link:hover {
      color: #fff;
      background-color: #a63b4a; }
  .equipment-list__section-link {
    display: block;
    cursor: pointer;
    padding: 2px 0;
    margin: 5px 10px 5px 0;
    overflow-x: hidden; }

.equipment__block {
  margin: 20px 0 80px; }
  .equipment__block__content {
    padding-left: 20px; }

.equipment__slider {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .equipment__slider:before {
    display: block;
    content: '';
    padding-top: 62%; }

.params {
  margin-bottom: 50px;
  min-height: 300px; }
  .params__tab {
    padding-left: 0 !important;
    font-family: 'PT Mono', 'Calibri', sans-serif; }
  .params__photo {
    overflow: hidden;
    margin: 10px 0; }
    .params__photo img {
      display: block;
      max-width: 100%; }
  .params__menu__item {
    display: block;
    float: none !important;
    text-align: center; }
  .params__menu__link {
    outline: none;
    padding-right: 50px !important;
    padding-left: 0 !important;
    color: #000;
    text-decoration: underline !important;
    display: block;
    float: none !important; }
    .params__menu__link:hover {
      color: #a63b4a; }
    .ui-tabs-active > .params__menu__link {
      color: #a63b4a;
      text-decoration: none !important; }

.articles {
  overflow: hidden;
  font-size: 18px; }
  .articles__contact-us {
    color: #fff;
    margin: 80px 0 120px;
    padding: 80px 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .articles__header {
    font-size: 28px;
    margin: 30px 0 50px; }
  .articles__downloads {
    margin: 50px 0; }
  .articles__slider {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px !important; }
    .articles__slider__wrapper {
      overflow: hidden; }
    .articles__slider img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; }
  .articles__similar {
    margin: 80px 0 100px;
    max-width: 100%; }
    .articles__similar__header {
      text-transform: uppercase; }
  .articles__similar-item {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000; }
    .articles__similar-item:hover {
      text-decoration: none; }
    .articles__similar-item__header {
      font-weight: 900;
      font-size: 18px;
      margin: 20px 0; }
      :hover > .articles__similar-item__header {
        text-decoration: underline;
        color: #a63b4a; }
    .articles__similar-item__text {
      font-size: 14px; }
    .articles__similar-item__image {
      margin-bottom: 10px;
      max-width: 100%; }
      .articles__similar-item__image img {
        width: 100%; }
  .articles__item {
    display: block;
    text-decoration: none;
    margin: 60px 0; }
    .articles__item:hover {
      text-decoration: none; }
    .articles__item__image {
      overflow: hidden; }
      .articles__item__image img {
        width: 100%; }
    .articles__item__header {
      color: #000;
      font-size: 20px;
      font-weight: 900;
      margin: 20px 0; }
      :hover > .articles__item__header {
        text-decoration: underline;
        color: #a63b4a; }
    .articles__item__description {
      color: #000;
      text-decoration: none; }
    .articles__item--big .articles__item__image {
      height: 500px; }
      .articles__item--big .articles__item__image img {
        width: auto; }
    .articles__item--big .articles__item__header {
      font-size: 24px; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: #F4F4F5; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.slideout-panel {
  padding-left: 30px; }

.mobile-menu-column {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #F4F4F5;
  padding: 20px 0;
  z-index: 100;
  border-left: 1px solid #999; }

.menu-btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  text-decoration: none; }

.icon-burger {
  width: 20px;
  height: 20px;
  background-image: url(../images/burger.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.mobile-logo {
  display: block; }
  .mobile-logo img {
    display: block;
    margin: 20px auto; }

.mobile-menu {
  width: 100%;
  list-style: none;
  padding: 0; }
  .mobile-menu__item {
    width: 100%; }
  .mobile-menu__link {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    -webkit-transition: background 300ms ease-out;
    transition: background 300ms ease-out; }
    .mobile-menu__link.active {
      background-color: #aaa;
      text-decoration: underline; }
    .mobile-menu__link:hover {
      background-color: #aaa; }

.about-us__banner {
  height: 860px;
  margin: 0 0 40px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(../images/about-us-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-bottom: 60px;
  line-height: 1.6; }
  .about-us__banner__header {
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 2.5px; }

.about-us__mission__header {
  font-size: 35px;
  font-weight: 900;
  margin: 30px 0;
  letter-spacing: 2px; }

.about-us__directions {
  margin: 50px 0 0; }
  .about-us__directions__header {
    font-size: 26px;
    font-weight: 100; }
  .about-us__directions__content {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 10px 0;
    padding: 20px 30px;
    color: #fff; }
    .about-us__directions__content p {
      margin: 15px 0; }

.search-page {
  margin-bottom: 100px; }
  .search-page__result {
    padding: 40px 0;
    display: block;
    color: #000;
    text-decoration: none; }
    .search-page__result:hover .search-page__result__name {
      text-decoration: underline; }
    .search-page__result__name {
      font-weight: 900;
      font-size: 24px;
      text-align: center; }
    .search-page__result__description {
      text-align: center;
      font-size: 14px;
      text-decoration: underline; }
  .search-page__form {
    margin: 35px 0; }
    .search-page__form__input {
      position: relative; }
      .search-page__form__input:before {
        display: inline-block;
        left: 15px;
        top: 10px;
        position: absolute; }
      .search-page__form__input input {
        box-sizing: border-box;
        width: 100%;
        color: #000;
        padding: 10px 10px 10px 50px;
        background: #fff;
        border: 2px solid #a63b4a;
        font-family: 'PT Serif', 'Calibri', sans-serif; }

.headquoter__header {
  font-weight: 900;
  margin: 70px 0 70px; }

.headquoter__item__image {
  overflow: hidden;
  max-height: 350px; }
  .headquoter__item__image img {
    display: block;
    max-height: 100%;
    max-width: 100%; }

.headquoter__item__name {
  font-weight: 900;
  margin: 20px 0 10px; }

.headquoter__item__position {
  font-size: 14px; }

@media only screen and (min-width: 800px) {
  .clients__item {
    padding-right: 15px; }
  .stages__content__image {
    padding-top: 100px; }
  .search-page__result {
    margin: 0px 0;
    display: block; }
    .search-page__result__name {
      text-align: left; }
    .search-page__result__description {
      text-align: left;
      line-height: 1.5; }
  h1, .h1 {
    font-size: 50px; }
  h2, .h2 {
    font-size: 36px;
    letter-spacing: 0; }
  h3, .h3 {
    font-size: 18px; }
  .header__logo img {
    margin: 0; }
  .error-404 {
    padding-bottom: 100px; }
  .params__menu__item {
    text-align: left;
    float: left !important; }
  .mobile-menu-column {
    display: none; }
  .slideout-panel {
    padding-left: 0px; }
  .about-us__directions__content {
    padding: 30px 95px 20px; }
  .services__menu__list {
    display: -webkit-box;
    display: flex; } }

@media only screen and (min-width: 1100px) {
  .search-button span {
    display: inline; }
  .main-menu {
    font-size: 18px; }
  .equipment-list__section-header {
    padding-right: 100px; } }
