.mobile-menu-column  
  a.menu-btn#mobile-menu-btn href="#"
    .icon-burger
header.header
  .container
    .row.middle-xs.center-xs.start-md
      .col-lg-2.col-md-1.col-xs-12
        a.header__logo href="#"
          img src="images/logo.png"
      .col-lg-8.col-md-10.hidden.visible-md
        nav.main-menu
          ul.main-menu__list
            li.main-menu__item
              a.main-menu__link.active href="/main_page.html" data-title="Услуги и проекты" Услуги и проекты
            li.main-menu__item
              a.main-menu__link href="#" data-title="Оборудование" Оборудование
            li.main-menu__item
              a.main-menu__link href="#" data-title="Статьи" Статьи
            li.main-menu__item
              a.main-menu__link href="#" data-title="О компании" О компании
            li.main-menu__item
              a.main-menu__link href="#" data-title="Контакты" Контакты
      .col-lg-2.col-md-1.hidden.visible-md
        a.search-button href="/search.html" 
          span Поиск
main.content
  == yield