doctype html
/![if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"
/![if IE 7] <html class="no-js lt-ie9 lt-ie8"
/![if IE 8] <html class="no-js lt-ie9"
/! [if gt IE 8]><!
html.no-js
  /! <![endif]
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title Gasse - завод по производству вибропрессованных изделий
    meta content="" name="description"
    meta content="" name="keywords"
    meta name="viewport" content="width=device-width, initial-scale=1"
    
    script src="https://code.jquery.com/jquery-1.11.3.min.js"
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;subset=cyrillic" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet"
    / link href="css/select2.min.css" rel="stylesheet"
    / script src="js/select2.full.min.js"

    link href="css/slick.css" rel="stylesheet"
    link href="css/slick-theme.css" rel="stylesheet"
    script src="js/slick.min.js"
    
    script src="js/slideout.min.js"
    
    / script src="js/bootstrap.min.js"

    script src="js/jquery.fancybox.min.js"
    link href="css/jquery.fancybox.min.css" rel="stylesheet"

    script src="js/isotope.pkgd.min.js"

    script src="js/jquery-ui.min.js"
    link href="css/jquery-ui.min.css" rel="stylesheet"
    
    link href="css/main.css" rel="stylesheet"
    

    link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"
    link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"
    link rel="manifest" href="/manifest.json"
    link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"
    meta name="theme-color" content="#ffffff"
  body
    javascript:
      document.getElementsByTagName("body")[0].style.display = "none";

    #panel
      == yield
    #menu.menu
      a.mobile-logo href="#"
        img src="images/logo.png"
      ul.mobile-menu  
        li.mobile-menu__item
          a.mobile-menu__link.active href="#" Услуги и проекты
        li.mobile-menu__item
          a.mobile-menu__link href="#" Оборудование
        li.mobile-menu__item
          a.mobile-menu__link href="#" Статьи
        li.mobile-menu__item
          a.mobile-menu__link href="#" О компании
        li.mobile-menu__item
          a.mobile-menu__link href="#" Контакты