== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.about-us
      section.about-us__banner
        .container.h-100
          .row.bottom-xs.h-100
            .col-xs-12.col-md-8
              h2.about-us__banner__header Кто мы
              p Мы начинали в 1998 году. В то время мы торговали оборудованием с «прилавка». Постепенно, наращивая объемы продаж мы осознали ответственность перед покупателями и начали инвестировать в специалистов для того, чтобы предлагать лучшие инженерные и технические решения.
              
      .container
        .row
          .col-xs-12.col-md-5 
            h2.about-us__mission__header Миссия
            p Наша миссия в проектировании, поставках и монтаже систем холодоснабжения с самым высоким качеством всех вышеперечисленных благ.  Мы хотим добиться максимального удовлетворения потребностей покупателей и обеспечить процветание компании и ее служащих.
          .col-md-1
          .col-xs-12.col-md-5
            h2.about-us__mission__header Чем мы полезны для вас?
            p Возьмём техническое задание или поможем его составить, подберем несколько вариантов оборудования, ответим на вопросы, поставим и смонтируем.
          .col-md-1

      section.about-us__directions
        .container
          .row
            .col-xs-12
              h3.about-us__directions__header Направления деятельности
          .row
            .col-xs-12.col-md-9
              .about-us__directions__content
                p — Оснащение магазинов (стеллажное и торговое холодильное оборудование)
                p — Оснащение промышленных предприятий (льдоаккумуляторы, установки получения ледяной воды, чиллеры, оснащение камер хранения и охлаждения, шоковой заморозки)
                p — Монтаж холодильного оборудования (в том числе аммиачных холодильных установок)
                p — Проектирование (холодоснабжение, отопление и вентиляция, автоматизация), в том числе проекты на демонтажа, реконструкция и монтажа предпрятий, работающих на аммиачном оборудовании
            
                a.show-more-link.light href="#" Смотреть проекты
      
      .container
        .row.center-xs
          .col-xs-12
            h2.headquoter__header Руководство компании
        .row
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter1.jpg"
              .headquoter__item__name Рыбников Андрей
              .headquoter__item__position Учредитель
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter2.jpg"
              .headquoter__item__name Гуляр Константин
              .headquoter__item__position Технический директор
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter3.jpg"
              .headquoter__item__name Гуляр Дмитрий
              .headquoter__item__position Коммерческий директор
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter4.jpg"
              .headquoter__item__name Рябов Владислав
              .headquoter__item__position Начальник отдела продаж
                
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})