== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.articles
      .container
        .row  
          .col-xs-12.col-md-8
            h1.h2 Полугерметичный компрессор с воздушным охлаждением SGH PB Plusbox
      .articles__slider__wrapper
        .object__gallery-slider.articles__slider
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда

      .container
        .row.between-md
          .col-xs-12.col-md-8
            p С выпуском компрессора Plusbox компания GEA впервые представляет линейку модульных компрессорно-конденсаторных агрегатов для эксплуатации на открытом воздухе, созданных на базе полугерметичных коммерческих компрессоров и конденсаторов GEA.
            p Серия модульных комплектов новых компрессорно-конденсаторных агрегатов Plusbox дает производителю возможность специальной компоновки агрегата Plusbox в соответствии с необходимыми ему требованиями. Таким образом он может определить комплект поставки и имеет, например, возможность выбора системы управления, которая является наиболее оптимальной для поставляемого им оборудования.
          .col-xs-12.col-md-3
      .youtube-video
        | <iframe width="100%" height="550" src="https://www.youtube.com/embed/XV1M4Pwx-Ik?list=PLDyvV36pndZHfBThhg4Z0822EEG9VGenn" frameborder="0" allowfullscreen></iframe>
        .container
          .object__gallery-slider__text Оригинал фото и статьи на сайте www.gea.com/ru/products/shg-pb-plusbox.jsp
      .container
        .row.between-md
          .col-xs-12.col-md-8
            p Дополнительную информацию о компрессоре SHG PB Plusbox (например, технические характеристики/производительность, чертежи, перечни запасных компонентов, ограничения на условия эксплуатации) можно найти в прикладной программе выбора компрессоров VAP по следующей ссылке: VAP – выбор компрессора, модель SHG PB Plusbox.
            blockquote  «Расширение линейки моделей компрессоров Plusbox с более высокой или более низкой хладопроизводительностью планируется в ближайшем будущем. »
            p На начальном этапе компания GEA предлагает базовую версию компрессорно-конденсаторного агрегата Plusbox с коммерческими компрессорами HG34e, которая соответствует хладопроизводительности от 10 до 15 кВт при нормальных режимах охлаждения (R404a при температуре испарения -10° C и температуре окружающего воздуха 32° C).

          .col-xs-12.col-md-3
            p
              strong 
                | Технические<br/> характеристики
            p 
              | Производительность от 5 до 25 кВт<br/>Расход воздуха до 5 куб. м / час<br/> Потребление энергии класса A++<br/>KVR и NRD стандартные опции
          
      article.articles__downloads
        .container
          .row
            .col-xs-12
              h3 Загрузки
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.pdf href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.doc href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.xls href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
      article.articles__contact-us
        .container
          .row.middle-xs
            .col-xs-12.col-md-3
              p 
                | Сотрудник отдела продаж<br/> Рыбников Вениамин
            .col-xs-12.col-md-3
              p +7 (922) 617-32-14
            .col-xs-12.col-md-3
              p veniamin.ribnikov@aesgroup.ru

      section.articles__similar
        .container
          h3.articles__similar__header Другие статьи
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles4.jpg"
                .articles__similar-item__header Bitzer запускает в производство винтовые компрессора на HFO смесях
                .articles__similar-item__text Мощность от 50 кВт до 1,5 мВт.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles5.jpg"
                .articles__similar-item__header Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox
                .articles__similar-item__text Всё о новой линейке компрессорно-конденсаторных блоков GEA.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles6.jpg"
                .articles__similar-item__header Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI
                .articles__similar-item__text Техническая информация и обзор испарителей Goedhart VCI.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles7.jpg"
                .articles__similar-item__header Как устроена работа в супермаркете?
                .articles__similar-item__text Почему из всех касс работает всего несколько, куда девается «просрочка»?


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})