== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.articles
      .container
        .row
          .col-xs-12
            nav.services__menu
              ul.services__menu__list
                li.services__menu__item
                  a.services__menu__link.active href="#" Все статьи
                li.services__menu__item
                  a.services__menu__link href="#" Ритейл 
                li.services__menu__item
                  a.services__menu__link href="#" Мясокомбинаты 
                li.services__menu__item
                  a.services__menu__link href="#" Птицефабрика 
                li.services__menu__item
                  a.services__menu__link href="#" Рыбозавод
      .container
        .row.between-md
          .col-xs-7
            a.articles__item.articles__item--big
              figure.articles__item__image
                img src="images/article1.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
              .articles__item__description Выбор алгоритма подбора определяется степенью вашей технической подготовки и опыта работы с пластинчатым теплообменным оборудованием, что позволяет упомянутую исходную информацию конкретизировать в должном объеме. За несколько последовательных шагов Вы придете к рекомендуемой нами спецификации на изготовление теплообменного аппарата.
          .col-xs-4
            a.articles__item
              figure.articles__item__image
                img src="images/article2.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
            a.articles__item
              figure.articles__item__image
                img src="images/article3.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
      section.articles__similar
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles4.jpg"
                .articles__similar-item__header Bitzer запускает в производство винтовые компрессора на HFO смесях
                .articles__similar-item__text Мощность от 50 кВт до 1,5 мВт.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles5.jpg"
                .articles__similar-item__header Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox
                .articles__similar-item__text Всё о новой линейке компрессорно-конденсаторных блоков GEA.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles6.jpg"
                .articles__similar-item__header Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI
                .articles__similar-item__text Техническая информация и обзор испарителей Goedhart VCI.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles7.jpg"
                .articles__similar-item__header Как устроена работа в супермаркете?
                .articles__similar-item__text Почему из всех касс работает всего несколько, куда девается «просрочка»?

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})