== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.contacts
      .container
        .row.center-xs.ta-left
          .col-xs-12.col-md-10
            h1.h2 Выйти на связь
      .contacts__row
        .container
          .row.center-xs.ta-left
            .col-xs-12.col-sm-5.col-md-2
              h2.contacts__subheader Контактные данные
            .col-xs-12.col-sm-5.col-md-8
              p.contacts__content
                a.contacts__email href="mailto:ribnikov07@mail.ru" ribnikov07@mail.ru
                br/
                small Читаем все!
              p.contacts__content
                a.contacts__phone href="tel:+7 (343) 360-47-30" +7 (343) 360-47-30
                br/
                small Мы — группа компаний. Поэтому при звонке скажите, что звоните в компанию «Торговое Оборудование».
      .contacts__row
        .container  
          .row.center-xs.ta-left
            .col-xs-12.col-sm-5.col-md-2
              h2.contacts__subheader Офис
            .col-xs-12.col-sm-5.col-md-8
              p 
                span.contacts__address 620088, г. Екатеринбург, ул. Фестивальная, д. 5. 
                br/
                small Вход со стороны стадиона
      
      .contacts__bottom-image

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})