== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    
    article.equipment-list
      .container
        .row.center-xs.ta-left
          .col-xs-12.col-md-10
            h1.h2 Оборудование
    article.equipment-list.equipment-list__content
      .container
        .row
          .col-xs-12.col-md-4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты - самые агрегатные холодильные оладьи упоротость держи марку дай пятюню
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
          .col-xs-12.col-md-4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
          .col-xs-12.col-md-4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4
            h3.equipment-list__section-header Промышленное холодильное оборудование
            h4.equipment-list__section-subheader Компрессоры и агрегаты
            ul.equipment-list__section-list
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Холодильные агрегаты
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Поршневые компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Спиральные компрессора
              li.equipment-list__section-item
                a.equipment-list__section-link href="#" Герметичные компрессора
                ul.equipment-list__dropdown-list
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 1
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 2
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 3
                    ul.equipment-list__dropdown-list
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.1
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.2
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.3
                      li.equipment-list__dropdown-item
                        a.equipment-list__dropdown-link href="#" Компрессор 3.4
                  li.equipment-list__dropdown-item
                    a.equipment-list__dropdown-link href="#" Компрессор 4

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
