== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.equipment
      .container
        .row.center-xs.ta-left
          .col-xs-12.col-md-10
            h1.h2 Витрины "Magma"
      .equipment__block
        .container
          .row.between-md
            .col-xs-12.col-md-8
              p Торговое холодильное оборудование MAGMA - это оборудование с низким энергопотреблением, что важно в эпоху ограничения энергетических и других природных ресурсов и повышения стоимости на них. Низкое энергопотребление торгового холодильного оборудования MAGMA позволяет сэкономить немалые средства владельцам магазинов.
              p Торговое оборудование Магма соответствует требованиям международных стандартов качества и безопасности. Это подтверждают европейские сертификаты, дающие право на маркировку оборудования ТОРГОВОЙ МАРКИ «MAGMA» знаком соответствия.
            .col-xs-12.col-md-3
              .h2.files__header Загрузки
              a.files__item.pdf href="#"
                .files__item__name Характеристики и внешний вид оборудования "Magma"
                .files__item__size 2.8 Мб

      .equipment__block
        .container
          .row
            .col-xs-12.col-md-6
              div.equipment__block__content
                h3 Преимущества витрин "Magma"
                p — Максимальные возможности загрузки и выкладки
                p — Эффективное использование пространства
                p — Возможности выкладки увеличены на 25%*
                p — Эргономичный плоский дизайн
                p — Открытая экспозиция
                p — Большая близость к покупателю
                p — Безупречная стыковка в линию
                p — Высокая эффективность охлаждения
            .col-xs-12.col-md-6.first-md
              .object__gallery-slider
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
      
      section.params#params
        .container
          .row
            .col-xs-12
              ul.params__menu
                li.params__menu__item
                  a.params__menu__link href="#characteristics" Характеристики
                li.params__menu__item
                  a.params__menu__link href="#complectation" Стандартная комплектация
                li.params__menu__item
                  a.params__menu__link href="#options" Опции
                li.params__menu__item
                  a.params__menu__link href="#photos" Фотографии
            .col-xs-12
              .params__tab#characteristics
                table
                  thead
                    tr
                      th Наименование
                      th Габариты
                      th Т. режим
                      th Объем загрузки, м3
                      th Холодопро-ть, кВт
                  tbody
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
              .params__tab#complectation
                p — Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;
                p — Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;
                p — 5 рядов полок по 400 мм с регулируемым наклоном;
                p — Ценникодержатели на полках;
              .params__tab#options
                p — Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;
                p — Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;
                p — 5 рядов полок по 400 мм с регулируемым наклоном;
                p — Ценникодержатели на полках;
              .params__tab#photos
                .row
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo1.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo2.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo3.jpg"
                .row
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo4.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo5.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo6.jpg"
                

      .container
        .row
          .col-xs-12
            a.button-gradient href="#" Связаться
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
