== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.error-404
      .container
        .row.center-xs.start-md
          .col-xs-12.col-md-5
            h1.error-404__header Ошибка 404
            h3.error-404__subheader
              | Страница не найдена, <a href="">свяжитесь</a> с нами.
          .col-xs-12.col-md-7
            figure.error-404__image
              img src="images/404-icon.gif"

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})