ol
  li
    a href="main_page.html" target="_blank" Главная страница
  li
    a href="object.html" target="_blank" Страница объекта
  li
    a href="services.html" target="_blank" Услуги и объекты
  li
    a href="contacts.html" target="_blank" Контакты
  li
    a href="error404.html" target="_blank" 404 ошибка
  li
    a href="equipment_list.html" target="_blank" Оборудование
  li
    a href="equipment.html" target="_blank" Отдельно взятое оборудование
  li
    a href="articles.html" target="_blank" Статьи
  li
    a href="article.html" target="_blank" Статья 2 вариант
  li
    a href="about-us.html" target="_blank" О компании
  li
    a href="search.html" target="_blank" Поиск