== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.main-banner
      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-5
            h1.main-banner__header Холодильное оборудование
            .row
              .col-xs-12.col-sm-6
                a.main-banner__subheader-link.shops-link href="#" Для магазинов
              .col-xs-12.col-sm-6
                a.main-banner__subheader-link.factories-link href="#" Для предприятий
            .main-banner__text
              p Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров
            a.show-more-link href="#" Смотреть проекты
          .col-xs-12.col-md-6
            figure.main-banner__image
              img src="images/main-banner-image.gif"
    
    article.stages
      .container
        .row.center-xs
          .col-xs-12
            h2.stages__header.h1 Этапы работы
        .row.center-xs
          .col-xs-12.col-md-9
            ul.stages__tabs.hidden.visible-sm
              li.stages__tabs__item
                a.stages__type href="#stage1" Обследование и сбор данных
              li.stages__tabs__item
                a.stages__type href="#stage2" Подбор оборудования
              li.stages__tabs__item
                a.stages__type href="#stage3" Разработка документации
              br/
              li.stages__tabs__item
                a.stages__type href="#stage4" Поставка и монтаж
              li.stages__tabs__item
                a.stages__type href="#stage5" Пусконаладка
              li.stages__tabs__item
                a.stages__type href="#stage6" Поддержка
        .row.center-xs
          .col-xs-12.col-md-9
            .stages__content
              #stage1.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Обследование и сбор данных
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage1-img.gif" loop="infinite"
              #stage2.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Подбор оборудования
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage2-img.gif" loop="infinite"
              #stage3.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Разработка документации
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage3-img.gif" loop="infinite"
              #stage4.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Поставка и монтаж
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage4-img.gif" loop="infinite"
              #stage5.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Пусконаладка
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage5-img.gif" loop="infinite"
              #stage6.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Поддержка
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage6-img.gif" loop="infinite"
    
    article.clients
      .container
        .row
          .col-xs-12
            h2.h1.clients__header Наши клиенты
        .row
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client1.png"
              p.clients__item__header Поставка торгового оборудования
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client2.png"
              p.clients__item__header Оснащение гипермаркета
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client3.png"
              p.clients__item__header Холодоснабжение под ключ
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
        .row  
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client4.png"
              p.clients__item__header Новая линейка в семье "Brandford"
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client5.png"
              p.clients__item__header Система мониторинга
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client6.png"
              p.clients__item__header "Смартори" - для умных покупателей, прям огонь вообще
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.

    article.about-us
      .container
        .row
          .col-xs-12
            h2.h1.about-us__header Кто мы такие
        .row.between-xs
          .col-xs-12.col-md-7
            p Торговое Оборудование  — екатеринбургская компания. Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров. Работаем с новыми игроками рынка и обновляем действующих: выявляем и считаем потребность в добавлении холодильных мощностей, разрабатываем проекты холодоснабжения и вентиляции, демонтируем устаревшее или опасное оборудование и объединяем производственные площадки любого размера в единую систему мониторинга. 
            p На счету компании — три тысячи успешных проектов и третьей место российского рейтинга креативности в категории «Холод». В нашем арсенале — команда специалистов с многолетним опытом работы и  поддержка лучших производителей холодильного и теплообменного оборудования. Мы гордимся, что вот уже 17 лет развиваем индустрию холодоснабжения в России. 
          .col-xs-12.col-md-4
            h3.about-us__partners__header Наши партнеры
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner1.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner2.png"
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner3.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner4.png"
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner5.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner6.png"
            a.show-more-link href="#" Смотреть проекты
      .container
        .row
          .col-xs-12
            p.about-us__location 620088, Россия, г.Екатеринбург ул.Фестивальная, д.5

    article.questions
      .container
        .row
          .col-xs-12
            h2.h1.questions__header Есть вопросы?
        .row.between-xs
          .col-xs-12.col-md-6
            p.questions__text Почитайте нашу документацию про настройку, интеграцию, API и т.п. Посетите наш форум и присоединяйтесь к профессиональному международному сообществу пользователей Flusonic
          .col-xs-12.col-md-6
            p.questions__contacts
             | Напишите нам <br/>ribikov07@mail.ru<br/>+7 (922) 100-09-18
            
    article.news
      .container
        .row
          .col-xs-12
            h2.h1.news__header Новости
        .row.between-xs
          .col-xs-12.col-md-6
            section.news__item.news__item--main
              a.news__item__link href="#" Новинки от Alfa Laval
              .news__item__text
                p На предстоящей выставке Chillventa 2016, которая пройдет с 11 по 13 октября в Нюрнберге, Германия, Альфа Лаваль представит на своем стенде шесть новых продуктов.
          .col-xs-12.col-md-5
            section.news__item.news__item
              a.news__item__link href="#" Промышленное охлаждение
              .news__item__text
                p Альфа Лаваль обеспечивает энергоэффективное охлаждение самых разных производственных помещений и технологических процессов.
            section.news__item.news__item
              a.news__item__link href="#" Коммерческое охлаждение
              .news__item__text
                p Оборудование Альфа Лаваль высокого класса энергоэффективности для коммерческих систем охлаждения полностью соответствует и даже превосходит требования международных нормативов по применяемым хладагентам и уровню выбросов.
    article.map
      #map
      script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd_89JTsXRrPtbW3GrV2_2XsIWIkUKSCE&callback=initMap"
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})