== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.object
      figure.object__banner-image
        img src="images/object.jpg"
      .container
        .row.between-md
          .col-xs-12
            h2.object__header Гибербола
          .col-xs-12.col-md-7
            p Комплексная поставка, монтаж и проектирование холодильной системы в «центральный» гипермаркет Екатеринбурга. В результате банкротства торговой сети «Купец», собственники «Гринвича» купили магазин, расположенный в торговом центре и полностью обновили бренд, концепцию развития и торговый зал.
          .col-xs-12.col-md-4
            .row
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="month">18</span><br/> месяцев
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="watt">1.5</span><br/> мВт
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="furniture">60</span></br> ед. мебели
      
      .object__gallery  
        .row
          .col-xs-6
            .object__gallery-slider
              div
                img src="images/object-gallery-1.jpg"
              div
                img src="images/object-gallery-2.jpg"
              div
                img src="images/object-gallery-1.jpg"
          .col-xs-6
            .object__gallery-slider
              div
                img src="images/object-gallery-2.jpg"
              div
                img src="images/object-gallery-1.jpg"
              div
                img src="images/object-gallery-2.jpg"

      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-8
            .object__content
              p Оборудование итальянской фирмы «Costan» было выбрано не случайно. Плавные формы, нацеленность на сегмент средний плюс и индивидуализация каждого проекта это как раз то, что искали собственники во время перезапуска сети под новым именем. Пристенные витрины Aeria на выносном холодообеспечении имеют электрические шторки, которыми можно управлять удаленно. Улучшенная эргономика витрины значительно увеличивает полезный объем и позволяет загрузить на 25% больше охлажденных продуктов. Безупречная стыковка в линию делает пристенные витрины Tesey визуально эстетичными.
              p Инновационная эргономика и открытый дизайн витрин Aurora SQ обеспечивает максимальную обзорность и видимость каждого товара покупателю. Прогрессивная система управления воздушными потоками создает идеальные условия для хранения любых видов товара.
              p Холодильную горку Tesey Slim отличают минималистичные нижняя и верхняя фронтальные панели и ультратонкие профили, которые расширяют площадь выкладки до уникальных значений. Наличие дверей-купе обеспечивает удобство доступа к продуктам.
          .col-xs-12.col-md-3
            blockquote.ta-center «Дверцы на горках экономят 60% электроэнергии ежедневно»

      .row
        .col-xs-12
          .object__gallery
            .object__gallery-slider
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"

      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-8
            .object__content
              p В машинном отделении расположены 2 четырех-компрессорных агрегата на базе компрессоров Copeland. Технология впрыска пара и промежуточный теплообменник, который доохлаждает пары хладагента позволяет использовать компрессор на 30% эффективнее, а технология цифрового регулирования производительности 10-100% дает преимущество в экономии электроэнергии. 
              p Конденсаторы Alfa Laval оснащены частотным регулированием производительности, что позволяет регулировать температуру кипения и экономить электроэнергию в размере 20-25% в сравнении с традиционной системой.
              p Для мониторинга работы оборудования, возникающих аварийных ситуаций и параметров энергопотребления, была  установлена система электронного управления на базе контроллеров WURM. При помощи данной системы реализованы следующие энергосберегающие технологии: плавающее давление кипения и плавающее давление конденсации. Все компоненты системы мониторинга смонтированы в шкаф управления, который  устанавлен в компрессорной. Система WURM координирует работу всего оборудования и дает возможность получать информацию по функционированию холодильной мебели в режиме онлайн.
          .col-xs-12.col-md-3 
            blockquote.ta-center «Система впрыска пара делает компрессор мощнее на 30%»

      article.object__similar
        .container
          h3.object__similar__header Другие объекты
          .row.m-0
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})