== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.search-page
      .container
        .row.center-xs
          .col-xs-12.col-md-8
            h1.h2 Поиск
        .row.center-xs
          .col-xs-12.col-md-8
            form.search-page__form
              .search-page__form__input
                input type="text" required="true" placeholder="Компрессор"
          
        .row.center-xs
          .col-xs-12.col-md-8
            a.search-page__result href="#"
              .row
                .col-xs-12.col-md-4
                  .search-page__result__name О нас
                .col-xs-12.col-md-8
                  .search-page__result__description Мы предлагаем компессорное оборудование и станок прост в обращении и управлении, для удобства и безопасности работы он автоматически отключается после завершения операции и возврата шпинделя в исходное положение. Станок надежен как в полевых, так и в стационарных условиях.
          .col-xs-12.col-md-8
            a.search-page__result href="#"
              .row
                .col-xs-12.col-md-4
                  .search-page__result__name О нас
                .col-xs-12.col-md-8
                  .search-page__result__description Мы предлагаем компессорное оборудование и станок прост в обращении и управлении, для удобства и безопасности работы он автоматически отключается после завершения операции и возврата шпинделя в исходное положение. Станок надежен как в полевых, так и в стационарных условиях.
          .col-xs-12.col-md-8
            a.search-page__result href="#"
              .row
                .col-xs-12.col-md-4
                  .search-page__result__name О нас
                .col-xs-12.col-md-8
                  .search-page__result__description Мы предлагаем компессорное оборудование и станок прост в обращении и управлении, для удобства и безопасности работы он автоматически отключается после завершения операции и возврата шпинделя в исходное положение. Станок надежен как в полевых, так и в стационарных условиях.
          .col-xs-12.col-md-8
            a.search-page__result href="#"
              .row
                .col-xs-12.col-md-4
                  .search-page__result__name О нас
                .col-xs-12.col-md-8
                  .search-page__result__description Мы предлагаем компессорное оборудование и станок прост в обращении и управлении, для удобства и безопасности работы он автоматически отключается после завершения операции и возврата шпинделя в исходное положение. Станок надежен как в полевых, так и в стационарных условиях.





  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})