== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    .container
      .row
        .col-xs-12
          h1.h2 Дело лучше слова
      .row.between-md
        .col-xs-12.col-md-7
          p Мы начали в далеком 1997 году с монтажа небольших холодильных камер и торгового оборудвоания в магазины у дома. Сегодня, продолжая учиться и совершенствоваться, мы можем предложить помощь в любых вопросах холодоснабжения. От маленьких холодильных камер до складов хранения и гипермаркетов. Собственные инженерная, монтажная и сервисная службы позволяют брать на себя обязательства без привлечения третьих лиц и строго контролировать ход работ и результат. Убедитесь в этом сами, посмотрев наши проекты.
        .col-xs-12.col-md-4
            .row
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="year">20</span> лет<br/> на рынке
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="employee">60</span><br/> сотрудников
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="objects">1500</span></br> объектов
    
    article.files
      .container
        .row
          .col-xs-12
            h3 Благодарности и документы
        .row
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
    
    article.services-links-wrapper
      .container
        .row
          .col-xs-12
            nav.services__menu
              ul.services__menu__list
                li.services__menu__item
                  a.services__menu__link.service-animated-link.active data-href="*" Все 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="retail" Ритейл 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="meat" Мясокомбинаты 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="chicken" Птицефабрика 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="fish" Рыбозавод
      .container 
        .service-animated 
          .row.m-0
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail.meat
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.chicken
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.fish.meat.retail
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.meat.chicken
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail.chicken.fish
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})